.container {
    display: flex;
    justify-content: space-between; /* Pour espacer les éléments sur les côtés */
    align-items: center; /* Pour centrer verticalement les éléments */
    height: 100vh; /* Ajustement de la hauteur pour centrer verticalement */
    padding: 30 15;
}
/* LOGIN FORM */



/* DEMANDE ASSISTANCE FORM */

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}



.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  background-color: #fefefe;
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 50px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

.error-message {
  color: red; /* Couleur rouge pour le message d'erreur */
  font-size: 14px; /* Taille de police */
  margin-top: 5px; /* Marge en haut pour l'espace */
}



/* SELECT BOX */
.custom-select {
  position: relative;
  width: 100%;
}

.custom-select select option[value=""] {
  color: gray;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  font-size: 15px;
  padding: 5px 11px 5px 11px;
  background-color: #fefefe;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 5px;
  
  cursor: pointer;
  outline: none;
}

.custom-select select:focus {
  background: #fefefe;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 5px;
}

.custom-select::after {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 8px; /* Ajustement de la position */
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  background-color: #000000;
  clip-path: polygon(8% 17%, 0% 25%, 50% 84%, 100% 25%, 92% 17%, 50% 65%);
}




