/* static/css/login.css */

.custom-navbar {
    background-color: rgba(59, 63, 66, 0.6); /* Fond semi-transparent */
    backdrop-filter: blur(3px); /* Effet de flou */
}

input {
    background-color: #3b3f42;
}

label {
    color: aliceblue;
}

.custom-ticket {
    border: 0.2rem solid rgb(255, 255, 255);
    border-radius: .5rem;
    background-color: rgba(59, 63, 66, 0.6); /* Fond semi-transparent */
    width: 23rem;
    padding: 2rem;

}

.custom-navbar {
    border-bottom: 0.1rem solid rgb(255, 255, 255);
    background-color: #2B3035;
}

.search-container {
    position: relative;
    right: 30px;
    
}

.results-container {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    position: absolute;
    top: 100%; /* Position it below the input */
    left: 0;
    right: 0;
    background-color: rgb(59, 63, 66);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.results-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.results-container li {
    padding: 8px;
    cursor: pointer;
}

.results-container li:hover {
    background-color: rgb(73, 78, 81);
}
