
.tablerounededCorner {
    border: 2px solid white;
    border-radius: 1.2em;
    width: 95%;
    padding: 0;
}

.roundedTable {
    border-collapse: collapse;
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.roundedTable th,
.roundedTable td {
    padding: .6em;
    border-bottom: 1px solid white;
}

.roundedTable th {
    text-align: left;
}

.roundedTable tr:last-child td {
    border-bottom: none;
}

.status {
    margin-top: 15px;
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #000000;
}

.status.cancelled {
    background-color: #ca687f;
    color: #000000;
}

.status.pending {
    background-color: #ebc474;
    color: #000000;
}

.status.shipped {
    background-color: #6fcaea;
    color: #000000;
}

.search {
    padding: 0.7rem;
}
