.status {
    margin-top: 15px;
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #000000;
}

.status.cancelled {
    background-color: #ca687f;
    color: #000000;
}

.status.pending {
    background-color: #ebc474;
    color: #000000;
}

.status.shipped {
    background-color: #6fcaea;
    color: #000000;
}

