<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagramme Circulaire</title>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
</head>
<body>
    <div id="open_tickets" style="display:none">{{ open_tickets }}</div>
    <div id="closed_tickets" style="display:none">{{ closed_tickets }}</div>
    <div id="in_progress_tickets" style="display:none">{{ in_progress_tickets }}</div>
    <div id="resolved_tickets" style="display:none">{{ resolved_tickets }}</div>

    <canvas id="pieChart" style="width: 100%; max-width: 250px; height: 100%; max-height: 250px"></canvas>

    <script src="{{ url_for('static', filename='stat.js') }}"></script>

</body>
</html>
