<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='file_manager.css')}}">
</head>
    {% include 'sidebar.html' %}

    <body>

        
    <div class="container-fluid">
        <div class="row align-items-start">
            <div class="col">
                <h2 class="my-3">Uploader un fichier</h2>
                <div class="form-upload mb-3">
                    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                    <div class="input-group">
                        <input type="file" class="form-control" id="file-input" name="file">
                        <button class="btn btn-outline-primary" type="submit">Uploader</button>
                    </div>
                    </form>
                </div>
                <label class="mb-3">Taille maximale : 16 Mo</label>
                <!-- Section pour afficher les messages flash -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div id="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="col">
                <h2 class="my-3">Liste des fichiers</h2>
                <div class="list-group custom-list">
                    {% for file in files %}
                        <a href="{{ url_for('download', filename=file) }}" class="list-group-item list-group-item-action">{{ file }}</a>
                    {% endfor %}
                </div>
                </div>
        </div>
    </div>
       

        
    
    

    </body>

</html>
