<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CSI Manager | Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}">
  <script src="{{ url_for('static', filename='node_modules/chart.js/dist/chart.umd.js') }}"></script>
</head>
<body>
<!-- partial:index.partial.html -->

{% include 'sidebar.html' %}


<section class="home-section">
  <div class="text">Dashboard</div>
    
<!-- ----------------------CANVAS TICKET-------------------------------------------- -->  
    <div id="open_tickets" style="display:none">{{ open_tickets }}</div>
    <div id="closed_tickets" style="display:none">{{ closed_tickets }}</div>
    <div id="in_progress_tickets" style="display:none">{{ in_progress_tickets }}</div>
    <div id="resolved_tickets" style="display:none">{{ resolved_tickets }}</div>
    <canvas id="pieChart"></canvas>
    <script src="{{ url_for('static', filename='stat.js') }}"></script>
    
</section>





</body>
</html>