<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>CSI_Manager</title>
        <!-- LOGIN CSS-->
        <link href="{{ url_for('static', filename='login.css')}}" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="{{ url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet">
    </head>

    <body>
        
        <div class="container">
            <form action="{{url_for('create_ticket')}}" method="post" class="form">
                <div class="title">Demande d'assistance</div>
                <input required="" type="text" placeholder="Nom Prénom" name="username" class="input">
                <input required="" type="text" placeholder="Sujet" name="title" class="input">
                <textarea required="" placeholder="Description" name="description" ></textarea>
                <button>Envoyer</button>
            </form>

            {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form action="{{url_for('login')}}" method="post" class="form">
        <div class="title">Connexion</div>
        <input required="" type="text" placeholder="Identifiant" name="username" class="input">
        <input required="" type="password" placeholder="Mot de passe" name="password" class="input">
        <button type="submit">Se connecter</button>
    </form>
    </div>
    </body>

</html>
