<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <script src="{{ url_for('static', filename='search.js') }}"></script>
</head>

<body>

    
    <nav class="navbar custom-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CSI_Manager</a>
        
        <div class="search-container w-50">
        <input type="text" id="search-input" class="form-control " placeholder="Rechercher une fiche de tâche...">
        <div id="results-container" class="results-container"></div>
        </div>

        
        <div class="dropdown dropstart">
          <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <i class="fa-solid fa-user"></i>
          </button>
          <form class="dropdown-menu p-4" action="{{ url_for('login') }}" method="post" >
            <div class="mb-3">
              <label for="exampleDropdownFormEmail2" class="form-label">Identifiant</label>
              <input type="text" class="form-control" name="username" placeholder="">
            </div>
            <div class="mb-3">
              <label class="form-label">Mot de passe</label>
              <input type="password" class="form-control" name="password" placeholder="">
            </div>
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-sm">Se connecter</button>
          </div>
          </form>
        </div>
        
      </div>
    </nav>

 
    <form id="form-ticket" class="custom-ticket mx-auto my-5" action="{{url_for('create_ticket')}}" method="post">
        <h3 class="text-success mb-3">Demande d'assistance</h3>
        
        <label class="form-label">NOM Prénom *</label>
        <input type="text" class="form-control mb-3" required="" name="username">
        
        <label class="form-label">Localisation *</label>
        <select class="form-select mb-3" name="location" required="">
          <option value="">Selectionnez une localisation</option>
          {% for location in locations %}
              <option value="{{ location.rooms }}">{{ location.rooms }}</option>
          {% endfor %}
        </select>

        <label class="form-label">Intitulé *</label>
        <input type="text" class="form-control mb-3" required="" name="title">

        <label class="form-label">Description</label>
        <textarea class="form-control mb-3" name="description" rows="3"></textarea>
        
        <div class="d-grid gap-2">
          <button id="submitBtn" class="btn btn-outline-success" type="submit">
            <span id="submitText">Envoyer</span>
            <span id="loadingSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            <span id="loadingText" class="d-none">Chargement...</span>
        </button>
        </div>
    </form>

    <!-- NOTIFICATION TOAST -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <i class="fa-regular fa-bell me-2"></i>
          <strong class="me-auto">Notification</strong>
          <small>Il y a 2 sec</small>
        
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          
      </div>
        <div class="toast-body">
          Une demande d'assistance à été envoyé ! 
        </div>
      </div>
    </div>

    <script>
      document.getElementById('form-ticket').addEventListener('submit', function() {
          var submitBtn = document.getElementById('submitBtn');
          var submitText = document.getElementById('submitText');
          var loadingSpinner = document.getElementById('loadingSpinner');
          var loadingText = document.getElementById('loadingText');

          submitBtn.disabled = true; // Désactiver le bouton pour éviter les soumissions multiples
          submitText.classList.add('d-none'); // Cacher le texte du bouton
          loadingSpinner.classList.remove('d-none'); // Afficher l'animation de chargement
          loadingText.classList.remove('d-none'); // Afficher le texte de chargement
    });

    const toastLiveExample = document.getElementById('liveToast')
    const createTicket = JSON.parse('{{ create_ticket|tojson|safe }}');
    if (createTicket) {
    const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
    toastBootstrap.show()
}
    </script>
</body>

</html>
