<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSI Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='ticket.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='materiel.css')}}">
</head>
    {% include 'sidebar.html' %}

    <body>

        <div class="search input-group input-group-lg">
            <span class="input-group-text" id="inputGroup-sizing-lg">Rechercher du matériel</span>
            <input type="text" class="form-control" >
            <!-- <button class="btn btn-success" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button> -->
          </div>

          <div class=" tool d-grid gap-2 d-md-flex justify-content">
            <button id="addMaterialButton" class="btn btn-success" type="button">Ajouter <i class="fa-solid fa-plus"></i> </button>
            <button class="btn btn-primary" type="button">Modifier <i class="fa-solid fa-pen-to-square"></i> </button>
            <button class="btn btn-danger" type="button">Supprimer <i class="fa-solid fa-trash"></i> </button>
          </div>
          

        <div class="tablerounededCorner mx-auto">
        <table class="table table-striped table-hover table align-middle roundedTable mx-auto">
            <thead class="table-light">
                <tr>
                    <th class="sortable" data-column="id"> Id <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="username"> Désignation <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="location"> Marque <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="title"> Modèle <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="date"> @mac <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="status"> @IP <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="location"> Réseau <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="title"> Localisation <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="date"> @Utilisateurs <span class="icon-arrow">&uarr;</span></th>
                    <th class="sortable" data-column="status"> Dernière modif <span class="icon-arrow">&uarr;</span></th>
                </tr>
            </thead >
            <tbody class="table-group-divider">
                {% for materiel in materiels %}
              <tr>
                  <td class="fw-bold">{{materiel.id}}</td>
                  <td>{{materiel.designation}}</td>
                  <td>{{materiel.marque}}</td>
                  <td>{{materiel.modele}}</td>
                  <td>{{materiel.mac}}</td>
                  <td>{{materiel.ip}}</td>
                  <td>{{materiel.network}}</td>
                  <td>{{materiel.location}}</td>
                  <td>{{materiel.username}}</td>
                  <td>{{materiel.last_modif}}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>


    <div id="addMaterialModal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>

<!--    
  <div id="addMaterialModal" class="modal">
    
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Ajouter du matériel</h2>
       
       
        <form method="POST" action="{{ url_for('create_material') }}" >
          {{ form.hidden_tag() }}

          <div class="form-group">
              {{ form.designation.label(class="form-label") }}
              {{ form.designation(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.marque.label(class="form-label") }}
              {{ form.marque(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.modele.label(class="form-label") }}
              {{ form.modele(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.mac.label(class="form-label") }}
              {{ form.mac(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.ip.label(class="form-label") }}
              {{ form.ip(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.network.label(class="form-label") }}
              {{ form.network(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.location.label(class="form-label") }}
              {{ form.location(class="form-control") }}
          </div>
      
          <div class="form-group">
              {{ form.username.label(class="form-label") }}
              {{ form.username(class="form-control") }}
          </div>
          <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success btn-lg mt-3 ">Soumettre</button>
        </div>
        </form>
    
    </div>
</div>   -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script  src="{{ url_for('static', filename='ticket.js')}}"></script>
    <script>
        // Récupérer le modal
        var modal = document.getElementById('addMaterialModal');
      
        // Récupérer le bouton qui ouvre le modal
        var btn = document.getElementById("addMaterialButton");
      
        // Récupérer l'élément span qui ferme le modal
        var span = document.getElementsByClassName("btn-close")[0];
      
        // Quand l'utilisateur clique sur le bouton, ouvrir le modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
      
        // Quand l'utilisateur clique sur <span> (x), fermer le modal
        span.onclick = function() {
            modal.style.display = "none";
        }
      
        // Quand l'utilisateur clique n'importe où en dehors du modal, fermer le modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
      </script>
    </body>
    
</html>
