<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CSI Manager | Dashboard</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='gmi.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='modal_gmi.css')}}">

</head>

<!-- partial:index.partial.html -->
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name">CSI Manager</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Recherche...">
      <span class="tooltip">Recherche</span>
    </li>
    <li>
      <a href="{{ url_for('home') }}">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">Utilisateurs</span>
      </a>
      <span class="tooltip">Utilisateurs</span>
    </li>
    <li>
      <a href="{{ url_for('ticket') }}">
        <i class='bx bx-chat'></i>
        <span class="links_name">Tickets</span>
      </a>
      <span class="tooltip">Tickets</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links_name">Statistiques</span>
      </a>
      <span class="tooltip">Statistiques</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-folder"></i>
        <span class="links_name">Matériels</span>
      </a>
      <span class="tooltip">Matériels</span>
      <ul class="sub-menu hide">
        <li><a href="{{ url_for('materiel') }}">Gestion matériel informatique</a></li>
        <li><a href="#">Sous-menu 2</a></li>
        <!-- Ajoutez autant d'éléments de sous-menu que nécessaire -->
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Paramètres</span>
      </a>
      <span class="tooltip">Paramètres</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img src="https://drive.google.com/uc?export=view&id=1ETZYgPpWbbBtpJnhi42_IR3vOwSOpR4z" alt="profileImg">
        <div class="name_job">
          <div class="name">{{ current_user }}</div>
          <div class="job"></div>
        </div>
      </div>

      <a href="{{ url_for('logout') }}">
      <i class='bx bx-log-out' id="log_out"></i>
    </a>
    </li>

  </ul>
</div>

<body>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Gestion du matériel informatique</h1>
        <div class="input-group">
            <input type="search" placeholder="Rechercher du materiel...">
            <img src="{{ url_for('static', filename='images/search.png') }}" alt="">
        </div>
       <!-- <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Exporter vers &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="{{ url_for('static', filename='images/pdf.png') }}" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="{{ url_for('static', filename='images/json.png') }}" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="{{ url_for('static', filename='images/csv.png') }}" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="{{ url_for('static', filename='images/excel.png') }}" alt=""></label>
            </div>
        </div> -->
    </section>
    <section class="table__body">

      <button id="addMaterialButton" type="button" class="button">
        <div class="button-top">Ajouter du matériel</div>
        <div class="button-bottom"></div>
        <div class="button-base"></div>
      </button>
      
      <button type="button" class="button button-red">
        <div class="button-top">Supprimer du matériel</div>
        <div class="button-red button-bottom"></div>
        <div class="button-base"></div>
      </button>

        <table>
          <thead>
              <tr>
                  <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Marque <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Modèle <span class="icon-arrow">&UpArrow;</span></th>
                  <th> @mac <span class="icon-arrow">&UpArrow;</span></th>
                  <th> @IP  <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Localisation <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Utilisateurs  <span class="icon-arrow">&UpArrow;</span></th>
                  <th> Date modif  <span class="icon-arrow">&UpArrow;</span></th>
              </tr>
          </thead>
          <tbody>
              {% for materiel in materiels %}
              <tr>
                  <td>{{materiel.id}}</td>
                  <td>{{materiel.marque}}</td>
                  <td>{{materiel.mac}}</td>
                  <td>{{materiel.ip}}</td>
                  <td>{{materiel.location}}</td>
                  <td>{{materiel.username}}</td>
                  <td>{{materiel.last_modif}}</td>
              </tr>
              {% endfor %}
          </tbody> 
      </table>
    </section>
    
</main>

  <!-- Modal -->
  <div id="addMaterialModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Ajouter du matériel</h2>
        <!-- Formulaire pour ajouter du matériel -->
        <form id="addMaterialForm">

        <select required="" name="location" class="input">
            <option value="">Sélectionner une localisation </option>
            {% for location in locations %}
                <option value="{{ location.rooms }}">{{ location.rooms }}</option>
            {% endfor %}
        </select>

            <!-- Ajoutez vos champs de formulaire ici -->
        </form>
    </div>
</div>  
  
<script  src="{{ url_for('static', filename='ticket.js')}}"></script>
<script  src="{{ url_for('static', filename='sidebar.js')}}"></script>
<script>
  // Récupérer le modal
  var modal = document.getElementById('addMaterialModal');

  // Récupérer le bouton qui ouvre le modal
  var btn = document.getElementById("addMaterialButton");

  // Récupérer l'élément span qui ferme le modal
  var span = document.getElementsByClassName("close")[0];

  // Quand l'utilisateur clique sur le bouton, ouvrir le modal
  btn.onclick = function() {
      modal.style.display = "block";
  }

  // Quand l'utilisateur clique sur <span> (x), fermer le modal
  span.onclick = function() {
      modal.style.display = "none";
  }

  // Quand l'utilisateur clique n'importe où en dehors du modal, fermer le modal
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
</script>
</body>
</html>