<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CSI Manager | Dashboard</title>
  <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='sidebar.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='card.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='ticket.css')}}">

</head>

<!-- partial:index.partial.html -->
<div class="sidebar">
  <div class="logo-details">
    <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name">CSI Manager</div>
    <i class='bx bx-menu' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class='bx bx-search'></i>
      <input type="text" placeholder="Recherche...">
      <span class="tooltip">Recherche</span>
    </li>
    <li>
      <a href="{{ url_for('home') }}">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-user'></i>
        <span class="links_name">Utilisateurs</span>
      </a>
      <span class="tooltip">Utilisateurs</span>
    </li>
    <li>
      <a href="{{ url_for('ticket') }}">
        <i class='bx bx-chat'></i>
        <span class="links_name">Tickets</span>
      </a>
      <span class="tooltip">Tickets</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="links_name">Statistiques</span>
      </a>
      <span class="tooltip">Statistiques</span>
    </li>
    <li>
      <a href="{{ url_for('materiel') }}">
        <i class='bx bx-folder'></i>
        <span class="links_name">Matériels</span>
      </a>
      <span class="tooltip">Matériels</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-cog'></i>
        <span class="links_name">Paramètres</span>
      </a>
      <span class="tooltip">Paramètres</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <img src="https://drive.google.com/uc?export=view&id=1ETZYgPpWbbBtpJnhi42_IR3vOwSOpR4z" alt="profileImg">
        <div class="name_job">
          <div class="name">{{ current_user }}</div>
          <div class="job"></div>
        </div>
      </div>

      <a href="{{ url_for('logout') }}">
      <i class='bx bx-log-out' id="log_out"></i>
    </a>
    </li>

  </ul>
</div>
<body>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Liste des tickets</h1>
        <div class="input-group">
            <input type="search" placeholder="Rechercher un ticket...">
            <img src="{{ url_for('static', filename='images/search.png') }}" alt="">
        </div>
       <!-- <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Exporter vers &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="{{ url_for('static', filename='images/pdf.png') }}" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="{{ url_for('static', filename='images/json.png') }}" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="{{ url_for('static', filename='images/csv.png') }}" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="{{ url_for('static', filename='images/excel.png') }}" alt=""></label>
            </div>
        </div> -->
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Utilisateurs <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Localisation <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Sujet <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Date <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Statut <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Détails </th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.username}}</td>
                    <td>{{ticket.location}}</td>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.date}}</td>
                    <td>
                        {% if ticket.status == 'Ouvert' %}
                            <p class="status shipped">{{ ticket.status }}</p>
                        {% elif ticket.status == 'Clôturer' %}
                            <p class="status delivered">{{ ticket.status }}</p>
                        {% elif ticket.status == 'En cours' %}
                            <p class="status pending">{{ ticket.status }}</p>
                        {% else %}
                            <p class="status cancelled">{{ ticket.status }}</p>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for('view_ticket', ticket_id=ticket.id) }}">Voir détails</a></td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

    
  
<script  src="{{ url_for('static', filename='ticket.js')}}"></script>
<script  src="{{ url_for('static', filename='sidebar.js')}}"></script>

</body>
</html>